body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    font-size: larger;
    margin: 20px;
}

/* Use CSS Flex to align groups in "Details", there should be 1 column of groups if browserwindow is narrow */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.edit-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: large;
}

/* Use CSS Grid to align items in groups in "Details" */
.group {
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    gap: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}


.info {
    flex-basis: 400px; /* Set a fixed width for groups in "Details" */
}

.history {
    flex-basis: 350px; /* Set a fixed width for groups in "Details" */
}

.notes {
    flex-basis: 350px; /* Set a fixed width for groups in "Details" */
}

.employees {
    flex-basis: 800px; /* Adjust the "Employees" group to be nearly twice wider than other groups, keep vertical groups alignment */
}

.employees-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.caption {
    background-color: #c1c1c1;
    padding: 8px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.toolbar {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.content {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}

input {
    border-radius: 3px;
    font-size: 15px;
    flex-basis: 250px;
    height: 30px;
    font-style: oblique;
}

a {
    color: black;
    text-decoration: none;
}